.container {
    background-color: var(--white-color);
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

.title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.container hr {
    border: 0.5px solid lightgray;
    width: 100%;
}

.btnWrap {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.attemptWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.titleWrap {
    display: flex;
    align-items: center;
    gap: 10px;
    /* max-width: 300px; */
    /* justify-content: space-between; */
}

.selectAttempt {
    height: 50px;
    font-size: 16px;
    border-radius: 7px;
}

.attemptRadio {
    height: 17px;
    width: 17px;
    accent-color: orange;
}

.Input {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    font-size: 17px;
}

.btn {
    text-align: center;
    margin-top: 60px;
}
