.dashNav {
    height: 100px;
    padding: 20px 30px 0px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoWrap {
    display: flex;
    align-items: center;
    gap: 30px;
}

.detailsAndSoundWrap {
    display: flex;
    align-items: center;
    gap: 15px;
}

.detailsAndSoundWrap .icon {
    font-size: 27px;
    cursor: pointer;
}

.dashNav .headerText {
    font-size: 30px;
    font-weight: bold;
}

.dashNav p span {
    color: #f19c08;
}

.user {
    border-left: 2px solid gray;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding-left: 10px;
}

.user span {
    font-size: 20px;
}

.hamburger {
    min-width: 30px;
    font-size: 30px;
    display: none;
}

/********** MOBILE MENU CSS **********/

.closeIcon {
    align-self: flex-end;
}

.topWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobileWrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobileWrapper .list {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #cbcbcb;
    font-size: 14px;
}

.mobileWrapper li span {
    min-width: 30px;
}

.mobileWrapper .list:hover {
    color: gray;
    cursor: pointer;
}

.mobileWrapper .active {
    display: flex;
    align-items: center;
    gap: 14px;
    color: var(--green-color);
    font-size: 14px;
}

/* MEDIA QUERIES */
@media (max-width: 830px) {
    .dashNav .headerText {
        font-size: 20px;
    }

    .user span {
        font-size: 17px;
    }

    .detailsAndSoundWrap .icon {
        font-size: 25px;
    }
}

@media (max-width: 690px) {
    .dashNav .headerText {
        display: none;
    }
}

@media (max-width: 991px) {
    .logo {
        display: none;
    }

    .dashNav {
        padding: 20px 15px 0px 15px;
    }

    .user span {
        font-size: 15px;
    }

    .detailsAndSoundWrap .icon {
        font-size: 20px;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 400px) {
    .user span {
        display: none;
    }
}
